body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

h1:hover {
  color: #45FFCA;
  cursor: pointer;
  text-shadow: 0 0 10px #45FFCA, 0 0 20px #45FFCA, 0 0 120px #45FFCA;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}